## Exploratory data analysis
AI project methodology - EPITA

### Packages import

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Importing data
- Import both csv files. We use the option `low_memory=False` since the training dataset has a lot of fields and those have many types of data.

In [5]:
df_train = pd.read_csv('../data/train.csv', low_memory=False)
df_test = pd.read_csv('../data/test.csv')
df_train.shape, df_test.shape

((100000, 28), (50000, 27))

- We review the description of the pandas DataFrames

In [6]:
df_train.describe(include="all")

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
count,100000,100000,100000,90015,100000,100000,100000,100000,84998.000000,100000.000000,...,100000,100000,100000.000000,90970,100000,100000.000000,95521,100000,98800,100000
unique,100000,12500,8,10139,1788,12501,16,18940,NaN,NaN,...,4,13178,NaN,404,3,NaN,91049,7,98792,3
top,0x1602,CUS_0xd40,January,Langep,38,#F%$D@*&8,_______,36585.12,NaN,NaN,...,Standard,1360.45,NaN,15 Years and 11 Months,Yes,NaN,__10000__,Low_spent_Small_value_payments,__-333333333333333333333333333__,Standard
freq,1,8,12500,44,2833,5572,7062,16,NaN,NaN,...,36479,24,NaN,446,52326,NaN,4305,25513,9,53174
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4194.170850,17.091280,...,NaN,NaN,32.285173,NaN,NaN,1403.118217,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3183.686167,117.404834,...,NaN,NaN,5.116875,NaN,NaN,8306.041270,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,303.645417,-1.000000,...,NaN,NaN,20.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1625.568229,3.000000,...,NaN,NaN,28.052567,NaN,NaN,30.306660,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3093.745000,6.000000,...,NaN,NaN,32.305784,NaN,NaN,69.249473,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5957.448333,7.000000,...,NaN,NaN,36.496663,NaN,NaN,161.224249,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15204.633333,1798.000000,...,NaN,NaN,50.000000,NaN,NaN,82331.000000,NaN,NaN,NaN,NaN

In [7]:
df_test.describe(include="all")

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
count,50000,50000,50000,44985,50000,50000,50000,50000,42502.000000,50000.000000,...,48965.000000,50000,50000,50000.000000,45530,50000,50000.000000,47729,50000,49438
unique,50000,12500,4,10139,976,12501,16,16121,NaN,NaN,...,NaN,4,12685,NaN,399,3,NaN,45450,7,49433
top,0x160a,CUS_0xd40,September,Stevex,39,#F%$D@*&8,_______,109945.32,NaN,NaN,...,NaN,Standard,1109.03,NaN,20 Years and 1 Months,Yes,NaN,__10000__,Low_spent_Small_value_payments,__-333333333333333333333333333__
freq,1,4,12500,22,1493,2828,3438,8,NaN,NaN,...,NaN,18379,12,NaN,254,26158,NaN,2175,12694,6
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4182.004291,16.838260,...,30.080200,NaN,NaN,32.279581,NaN,NaN,1491.304305,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3174.109304,116.396848,...,196.984121,NaN,NaN,5.106238,NaN,NaN,8595.647887,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,303.645417,-1.000000,...,0.000000,NaN,NaN,20.509652,NaN,NaN,0.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1625.188333,3.000000,...,4.000000,NaN,NaN,28.061040,NaN,NaN,32.222388,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3086.305000,6.000000,...,7.000000,NaN,NaN,32.280390,NaN,NaN,74.733349,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5934.189094,7.000000,...,10.000000,NaN,NaN,36.468591,NaN,NaN,176.157491,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15204.633333,1798.000000,...,2593.000000,NaN,NaN,48.540663,NaN,NaN,82398.000000,NaN,NaN,NaN